/* ======= RESET ======= */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  min-block-size: 100vh;
  line-height: 1.5;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

@media (prefers-reduced-motion: no-preference) {
  body {
    scroll-behavior: smooth;
  }
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  text-wrap: balance;
}

blockquote,
body,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-block-end: 0;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

:where(img, picture, figure, video, canvas, svg, use) {
  display: block;
  max-inline-size: 100%;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
}

input:is([type="checkbox"], [type="radio"]),
select,
label,
button {
  cursor: pointer;
}

/* ======= /RESET ======= */

/* ======= UTILS ======= */
.visually-hidden,
.visually-hidden-focusable:not(:focus, :focus-within) {
  border: 0 !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  width: 1px !important;
  white-space: nowrap !important;
}

.visually-hidden:not(caption),
.visually-hidden-focusable:not(caption):not(:focus, :focus-within) {
  position: absolute !important;
}

.visually-hidden *,
.visually-hidden-focusable:not(:focus, :focus-within) * {
  overflow: hidden !important;
}

/* ======= /UTILS ======= */

/* ======= TYPO ======= */
@font-face {
  font-family: "Halisa-Condensed";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Halisa-Condensed-Black-Italic.woff2") format("woff2");
}

@font-face {
  font-family: 'akrobatsemibold';
  src: url('../fonts/akrobat-semibold-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* ======= /TYPO ======= */

/* ======= VARIABLES ======= */
:root {
  --primary-color: #71C4BD;
  --secondary-color: rgba(0, 173, 149, 1);
  --font-color: black;

  --font-primary: "akrobatsemibold", sans-serif;
  --font-secondary: "Halisa-Condensed", sans-serif;

  --font-size-large: clamp(8.375rem, -3.5197rem + 24.7807vw, 22.5rem);
  /*768: 101px -> 1680px: 270px*/
  --font-size-normal: clamp(1.3125rem, 0.3125rem + 2.0833vw, 2.5rem);
  /*768: 21px -> 1680px: 40px*/
  --font-size-small: clamp(0.9375rem, 0.4112rem + 1.0965vw, 1.5625rem);
  /*768px: 15px -> 1680px: 25px*/

  --site-padding-inline: 2rem;
}

/* ======= /VARIABLES ======= */


/* ======= DEFAULT ======= */
body {
  font-family: var(--font-primary);
  color: var(--font-color);
  font-size: var(--font-size-small);
  background-color: var(--primary-color);
}

main {
 
  padding-inline: var(--site-padding-inline);
  padding-block-start: 2rem;
}

h2 {
  font-family: var(--font-secondary);
  font-size: var(--font-size-large);
  line-height: 0.7;
  text-transform: uppercase;
  font-weight: bold;
}

ul {
  padding-left: 0;
  list-style-type: "";
}

em {
  font-weight: 800;
  font-style: normal;
}

.btn {
  display: inline-flex;
  padding: .5rem 1.5rem;
  color: white;
  text-decoration: none;
  background-color: #000;
  border-radius: 3rem;
}

a {
  color: inherit;
}

/* ======= /DEFAULT ======= */

/* ======= FOOTER ======= */
footer {
  padding-block: 7rem 2.5rem;
  padding-inline: var(--site-padding-inline);
  color: #000;
}g

footer,
footer h3,
footer label {
  font-weight: normal;
  font-size: var(--font-size-small);
}

footer a[href*="mailto"] {
  font-size: var(--font-size-normal);
  text-decoration: none;
}

footer>div {
  grid-column: 4 / -4;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  min-width: 0;
}

footer>div>div {
  width: 33%;
}

footer nav a {
  display: flex;
  align-items: baseline;
  gap: 1rem;
}

footer nav a img {
  width: 1rem;
}

/* ======= /FOOTER ======= */

.content {
  display: grid;
  grid-template-columns: 7fr 1.5fr 1fr;
  gap: 1rem
}

.content h1 {
  grid-column: 3 / end;
}

.content h1 img {
  max-width: 10rem;
}

.content>div {
  grid-row: 1 / end;
}

.dalle {
  grid-column: 2 / 3;
  display: flex;
  align-items: flex-end;
  margin-block-end: 6rem;
}

.dalle img {
  max-width: 15rem;
}


.content p {
  margin-block: 4rem;
  font-size: var(--font-size-normal);
}

/* BREVO */
@font-face {
  font-display: block;
  font-family: Roboto;
  src: url(https://assets.brevo.com/font/Roboto/Latin/normal/normal/7529907e9eaf8ebb5220c5f9850e3811.woff2) format("woff2"),
    url(https://assets.brevo.com/font/Roboto/Latin/normal/normal/25c678feafdc175a70922a116c9be3e7.woff) format("woff");
}

@font-face {
  font-display: fallback;
  font-family: Roboto;
  font-weight: 600;
  src: url(https://assets.brevo.com/font/Roboto/Latin/medium/normal/6e9caeeafb1f3491be3e32744bc30440.woff2) format("woff2"),
    url(https://assets.brevo.com/font/Roboto/Latin/medium/normal/71501f0d8d5aa95960f6475d5487d4c2.woff) format("woff");
}

@font-face {
  font-display: fallback;
  font-family: Roboto;
  font-weight: 700;
  src: url(https://assets.brevo.com/font/Roboto/Latin/bold/normal/3ef7cf158f310cf752d5ad08cd0e7e60.woff2) format("woff2"),
    url(https://assets.brevo.com/font/Roboto/Latin/bold/normal/ece3a1d82f18b60bcce0211725c476aa.woff) format("woff");
}

#sib-container a {
  text-decoration: underline;
  color: #2bb2fc;
}

.sib-form-block {
  padding: 0;
}

#sib-container {
  padding: 0;
  background: none;
}

.sib-form {
  padding: 0;
  font-family: var(--font-primary);
  font-weight: bold;
  font-size: var(--font-size-small);
}

.sib-form .entry__field {
  padding: .5rem .5rem 0 0;
  background: none;
  border-radius: 0;

  border: none
}

.sib-form .input:first-child {
  padding-inline-start: 0;
}

.sib-form .input:last-child {
  padding-inline-end: 0;
}

#EMAIL::placeholder {
  font-weight: normal;
  color: #000 !important;
  font-size: var(--font-size-normal);
}

::-moz-placeholder {
  opacity: 1;
}

.sib-form .entry__field {
  margin: 0;
}

.sib-form .entry__field:focus-within,
.sib-form .entry__field:has(+ .sib-form-block__button:focus-within),
.sib-form .entry__field:focus-within+.sib-form-block__button,
.sib-form-block__button:focus-within {
  box-shadow: none;
  background: #000;
  color: var(--secondary-color);
}

.sib-form-block__button {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background: none;
}

.sib-form-block__button svg {
  width: 1rem;
  height: 1rem
}

.sib-form-block__button svg path {
  fill: black
}

.sib-form .entry__field:focus-within+.sib-form-block__button svg path,
.sib-form-block__button:focus-within svg path {
  fill: var(--secondary-color);
}

.sib-form-block__button:focus-visible {
  outline-style: dashed;
}

.form__label-row {
  position: relative;
  border-bottom: 1px solid #000;
}

.entry__error {
  padding: 1rem;
}

/* /BREVO */

/* RESPONSIVE */
@media screen and (max-width: 64rem) {
  .content {
    display: flex;
    flex-direction: column;
  }

  .content>div:first-of-type {
    order: 3
  }

  .dalle {
    justify-content: center;
  }

  .dalle img {
    order: 2;
    margin-block-start: 3rem;
    max-width: 7.5rem;
  }

  footer>div {
    flex-direction: column;
    align-items: initial;
    gap: 4rem
  }

  footer nav ul {
    display: flex;
    justify-content: space-between;
  }

  footer>div>div {
    width: 100%;
  }
}

/* /RESPONSIVE */